body {
    box-sizing: border-box;
    background-image: url("../images/city2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    /* font-family: ; */
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    color: whitesmoke;
}

h1 {
    color: red;
    margin-top: 50px;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 70px;
    text-shadow: 4px 4px 6px black;
}

h2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    text-shadow: 4px 4px 6px black;
}

.play-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.play-container {
    width: 800px;
    max-width: 80%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}

.start-btn-div {
    padding-top: 300px;
}

.start-btn {
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-shadow: 4px 4px 6px black;
}

.start-btn:hover {
    font-size: 40px;
    color: red;
}

.restart-btn {
    color: white;
}

.restart-btn:hover {
    color: red;
}

.option-btns {
    color: white;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.opt-btn {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    }

.opt-btn:hover {
    border-color: black;
}

.play-container {
    background-color: grey;
}

.play-sound-btn, .mute-sound-btn {
    background: none;
    border: none;
    color: white;
}
